* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $backgroundColour;
  color: $textColour;
}

.when,
.commute,
.where {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0;
}
.where {
  width: 50%;
}

.outputBox {
  background-color: $backgroundColour;
  width: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid $textColour;
  color: $textColour;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  width: 120px;
  &:hover,
  &:active {
    color: $backgroundColour;
    background: $textColour;
  }
}

@media all and (min-width: 30em) {
  .btn {
    display: block;
    margin: 0.4em auto;
  }
}
// Start routine button
.start {
  margin: 0.2em;
}
// Add to routine Button
.add {
  margin: 0.2em;
  padding: 1em;
}
// Build Routine Button
.build {
  margin-top: 4em;
}
// Done button is tasks component
.doneTasks {
  position: fixed;
  bottom: 10vh;
  right: 35%;
  left: 35%;
}
// Container for start and add btns
.btnContainer {
  position: fixed;
  bottom: 10vh;
  right: 10%;
  left: 10%;
  display: flex;
  justify-content: center;
}
// container for info screen
.container {
  display: block;
  margin: 10% 0 0 0;
}
// Text for headings
.heading {
  font-size: xx-large;
  font-weight: 600;
}

.selectedTask {
  font-size: 21px;
  font-weight: 600;
  margin: 0.2em;
  padding: 0;
}

.posTask {
  font-weight: 600;
  font-size: 21px;
  margin: 0.5em;
  padding: 0;
}

.singleTask {
  margin-top: 10%;
  p {
    font-size: 30px;
    font-weight: 600;
  }
  .timer {
    margin: auto;
    letter-spacing: 5px;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
  }
}

.tasksContainer {
  position: relative;
}

.selectedTaskContainer {
  display: flex;
  top: 5%;
  height: 55vh;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  // border: 1px black solid;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.selectedTaskContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.selectedTaskContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.homeTextContainer {
  position: fixed;
  bottom: 20vh;
  left: 5%;
  right: 5%;
}

.completedContainer {
  margin-top: 10%;
}

.singleTaskContainer {
  height: 100%;
  width: 100%;
}

.small {
  font-size: 12px;
}
