@media (min-width: 601px) {
  * {
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #fda43c;
    color: #0c1b33;
  }
  .when,
  .commute,
  .where {
    margin: 10px;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    border: 0;
  }
  .where {
    width: 50%;
  }
  .outputBox {
    background-color: #fda43c;
    width: 100%;
    overflow: hidden;
  }
  .App {
    text-align: center;
  }
  .btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #0c1b33;
    color: #0c1b33;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 120px;
  }
  .btn:hover, .btn:active {
    color: #fda43c;
    background: #0c1b33;
  }
}

@media all and (min-width: 601px) and (min-width: 30em) {
  .btn {
    display: block;
    margin: 0.4em auto;
  }
}

@media (min-width: 601px) {
  .start {
    margin: 0.2em;
  }
  .add {
    margin: 0.2em;
    padding: 1em;
  }
  .build {
    margin-top: 4em;
  }
  .doneTasks {
    position: fixed;
    bottom: 10vh;
    right: 35%;
    left: 35%;
  }
  .btnContainer {
    position: fixed;
    bottom: 10vh;
    right: 10%;
    left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    display: block;
    margin: 10% 0 0 0;
  }
  .heading {
    font-size: xx-large;
    font-weight: 600;
  }
  .selectedTask {
    font-size: 21px;
    font-weight: 600;
    margin: 0.2em;
    padding: 0;
  }
  .posTask {
    font-weight: 600;
    font-size: 21px;
    margin: 0.5em;
    padding: 0;
  }
  .singleTask {
    margin-top: 10%;
  }
  .singleTask p {
    font-size: 30px;
    font-weight: 600;
  }
  .singleTask .timer {
    margin: auto;
    letter-spacing: 5px;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
  }
  .tasksContainer {
    position: relative;
  }
  .selectedTaskContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 5%;
    height: 55vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: scroll;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .selectedTaskContainer::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .selectedTaskContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .homeTextContainer {
    position: fixed;
    bottom: 20vh;
    left: 5%;
    right: 5%;
  }
  .completedContainer {
    margin-top: 10%;
  }
  .singleTaskContainer {
    height: 100%;
    width: 100%;
  }
  .small {
    font-size: 12px;
  }
  /* Style the navigation menu */
  .topnav {
    background-color: #ffe677;
    position: fixed;
    bottom: 0%;
    height: 55px;
    width: 100%;
    right: 0%;
  }
  .topnav .home {
    display: block;
    width: 50%;
    background-color: #ffe677;
    color: black;
  }
  .topnav .options {
    background-color: #ffe677;
    display: block;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav #myLinks {
    display: none;
    position: relative;
    bottom: +160px;
    background-color: #ffe677;
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a:hover {
    background-color: #ffe057;
    color: black;
  }
  .loginReg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .loginReg .label {
    font-size: large;
  }
  .loginReg .input {
    max-width: 50%;
    text-align: center;
    font-size: large;
    margin: 0.5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    border: 0;
  }
  .loginReg .btn {
    margin: 0.8em;
  }
  .boldText {
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  * {
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #fda43c;
    color: #0c1b33;
  }
  .when,
  .commute,
  .where {
    margin: 10px;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    border: 0;
  }
  .where {
    width: 50%;
  }
  .outputBox {
    background-color: #fda43c;
    width: 100%;
    overflow: hidden;
  }
  .App {
    text-align: center;
  }
  .btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #0c1b33;
    color: #0c1b33;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 120px;
  }
  .btn:hover, .btn:active {
    color: #fda43c !important;
    background: #0c1b33 !important;
  }
}

@media all and (max-width: 600px) and (min-width: 30em) {
  .btn {
    display: block;
    margin: 0.4em auto;
  }
}

@media (max-width: 600px) {
  .start {
    margin: 0.2em;
  }
  .add {
    margin: 0.2em;
    padding: 1em;
  }
  .build {
    margin-top: 4em;
  }
  .doneTasks {
    position: fixed;
    bottom: 10vh;
    right: 35%;
    left: 35%;
  }
  .btnContainer {
    position: fixed;
    bottom: 10vh;
    right: 10%;
    left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    display: block;
    margin: 30% 0 0 0;
  }
  .heading {
    font-size: xx-large;
    font-weight: 600;
  }
  .selectedTask {
    font-size: 21px;
    font-weight: 600;
    margin: 0.2em;
    padding: 0;
  }
  .posTask {
    font-weight: 600;
    font-size: 21px;
    margin: 2%;
    padding: 0;
  }
  .singleTask {
    margin-top: 45%;
  }
  .singleTask p {
    font-size: 30px;
    font-weight: 600;
  }
  .singleTask .timer {
    margin: auto;
    letter-spacing: 5px;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
  }
  .tasksContainer {
    position: relative;
  }
  .selectedTaskContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 5%;
    height: 55vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: scroll;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .selectedTaskContainer::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .selectedTaskContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .homeTextContainer {
    position: fixed;
    bottom: 20vh;
    left: 5%;
    right: 5%;
  }
  .completedContainer {
    margin-top: 30%;
  }
  .singleTaskContainer {
    height: 100%;
    width: 100%;
  }
  .small {
    font-size: 12px;
  }
  /* Style the navigation menu */
  .topnav {
    background-color: #ffe677;
    position: fixed;
    bottom: 0%;
    height: 55px;
    width: 100%;
    right: 0%;
  }
  .topnav .home {
    display: block;
    width: 50%;
    background-color: #ffe677;
    color: black;
  }
  .topnav .options {
    background-color: #ffe677;
    display: block;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav #myLinks {
    display: none;
    position: relative;
    bottom: +160px;
    background-color: #ffe677;
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a:hover {
    background-color: #ffe057;
    color: black;
  }
  .loginReg {
    margin-top: 55.25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .loginReg .label {
    font-size: large;
  }
  .loginReg .input {
    max-width: 50%;
    text-align: left;
    border: 1px solid #2d2d2d;
    background-color: #fda43c;
    font-size: large;
    margin: 0.5em;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
  }
  .loginReg .btn {
    margin: 0.8em;
  }
  .boldText {
    font-weight: 600;
  }
  .sunriseContainer {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 55.25vh;
    top: 0;
    right: 0;
  }
  .backgroundImg {
    position: absolute;
    width: 100vw;
    height: 55.25vh;
    right: 0px;
    top: 0px;
    background: url("../images/sunrise.jpg");
    background-size: cover;
  }
  .gradient {
    position: absolute;
    width: 100vw;
    height: 55.25vh;
    right: 0px;
    top: 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.03%, rgba(255, 255, 255, 0)), color-stop(98.97%, #fda43c));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -1.03%, #fda43c 98.97%);
  }
  .textContainer {
    text-align: left;
    position: absolute;
    width: 330px;
    height: 84px;
    left: 39px;
    top: 15em;
  }
  .textContainer .good {
    margin-bottom: -1em;
    font-size: 33px;
    display: block;
  }
  .textContainer .morning {
    font-size: 65px;
    display: block;
  }
  .signinText {
    text-align: left;
    max-width: 50%;
    font-size: 11px;
  }
}
/*# sourceMappingURL=App.css.map */